<div style="padding-top: 40px">
<h1 class="divider">Contact Us</h1>
<div class="container padded" style="min-height: calc(100vh - 268px)">
  <form>
    <div class="form-row">
      <div class="form-group" style="display: inline-block; width: 50%">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" placeholder="First Name">
      </div>
      <div class="form-group" style="display: inline-block; width: 50%">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
      </div>
      <div class="form-group" style="display: inline-block; width: 50%">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group" style="display: inline-block; width: 50%">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" aria-describedby="phone-help" placeholder="Phone Number">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Your Interests</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
  </form>
</div>
</div>
