<div id="corporate" style="margin-top: -40px"></div>
<div style="padding-top: 40px">
  <h1 class="divider">Corporate</h1>
  <div class="container">
    <div style="width: 100%; text-align: center; padding-bottom: 64px">
      <h4 class="location-subtitle">We work with business to help encourage employees to healthier lifestyle choices for any workplace. Research shows that corporate wellness can reduce absenteeism, improve productivity, and grow positive morale. Let our team help your team! Reach out if you are interested in having the Optimal Fitness team run your fitness center, host a special  group event, or for general ideas on how to help your team to a healthy lifestyle.</h4>
      <mat-chip-list></mat-chip-list>
      <mat-chip class="link-chip">Contact Us</mat-chip>
    </div>
    <div class="card">
      <carousel cellWidth="100%" height="500"
                [images]="images">
      </carousel>
    </div>
  </div>
</div>

