.panel-title {
  width: 100%;
  text-align: center;
  font-size: 56px;
  font-weight: 400;
}

.panel-subtitle {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  margin-top: 24px;
}

.panel-button {
  //margin-left: auto;
  //margin-right: auto;
}

.button-container {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.background {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.dark {
  color: white !important;
}
