<app-panel>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./assets/images/Lexington.jpeg" class="carousel-image">
      </div>
      <div class="carousel-caption shadow-box">
        <h3>Lexington</h3>
        <p>OFIT 1600 square foot facility located right off route 95 & route 2A. A performance site that does personal training, small groups and athletes performance sports camps. </p>
        <div class="button-container">
          <a class="btn btn-outline-light" href="locations">Learn More</a>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./assets/images/beach_house2.jpg" class="carousel-image">
      </div>
      <div class="carousel-caption shadow-box">
        <h3>Beach House</h3>
        <p>One of a kind indoor beach sand volleyball courts provide a unique training surface and view from our newest gym space. The upstairs mezzanine also features a recovery area designed to maximize your training and keep you feeling your best. </p>
        <div class="button-container">
          <a class="btn btn-outline-light" href="https://beachhouseboston.com/">Learn More</a>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</app-panel>
