.floating-title {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.button-container {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}
