<app-title-panel title="Our Mission" [subtitle]="subtitle" buttonLink="mission">
  <div class="row" style="margin-top: 24px">
    <div class="col-md-4">
      <img src="../../../../../assets/images/walsh_family.JPG" class="column-image"/>
    </div>
    <div class="col-md-4">
      <img src="../../../../../assets/images/File_027.jpeg" class="column-image"/>
    </div>
    <div class="col-md-4">
      <img src="../../../../../assets/images/mask_lunge.jpg" class="column-image"/>
    </div>
  </div>
</app-title-panel>
