<training-landing-panel></training-landing-panel>
<div id="personaltraining" style="margin-top: -40px"></div>
<div style="padding-top: 40px">
  <h1 class="divider">Personal Training</h1>
  <div class="container">
    <div style="width: 100%; text-align: center; padding-bottom: 64px">
      <h4 class="location-subtitle">Customized individualized program based off of initial evaluation in order to help your body move more efficiently, to prevent injuries, and to establish a healthier lifestyle.</h4>
      <mat-chip-list></mat-chip-list>
      <a href="locations#lexington"><mat-chip class="link-chip">Lexington</mat-chip></a>
      <a href="locations#beachhouse"><mat-chip class="link-chip">Beach House</mat-chip></a>
      <a href="locations#inhome"><mat-chip class="link-chip">In Home</mat-chip></a>
      <mat-chip class="link-chip">Contact Us</mat-chip>
    </div>
    <div class="card">
      <img src="./assets/images/pt1.jpg" height="700px" width="100%" style="object-fit: cover" />
    </div>
  </div>
</div>

<div id="athletesc" style="margin-top: -40px"></div>
<div style="padding-top: 40px">
  <h1 class="divider">Athlete Strength & Conditioning</h1>
  <div class="container">
    <div style="width: 100%; text-align: center; padding-bottom: 64px">
      <h4 class="location-subtitle">Athlete groups (ages 11-22) are brought through a  specific warm up and customized programming, corrective exercises and sports performance exercises based on their goals, sports and evaluations.</h4>
      <ul>
        <li class="location-subtitle" style="margin-bottom: 8px">Warm up</li>
        <li class="location-subtitle" style="margin-bottom: 8px">Flexibility / Mobility / Stability</li>
        <li class="location-subtitle" style="margin-bottom: 8px">Strength</li>
        <li class="location-subtitle" style="margin-bottom: 8px">Quickness / Speed / Agility</li>
        <li class="location-subtitle" style="margin-bottom: 8px">Power / Explosiveness</li>
        <li class="location-subtitle" style="margin-bottom: 8px">Injury Reduction / Prevention</li>
      </ul>
      <mat-chip-list></mat-chip-list>
      <a href="locations#lexington"><mat-chip class="link-chip">Lexington</mat-chip></a>
      <a href="locations#beachhouse"><mat-chip class="link-chip">Beach House</mat-chip></a>
      <mat-chip class="link-chip">Contact Us</mat-chip>
    </div>
    <div class="card">
      <carousel cellWidth="100%" height="500"
                [images]="scImages">
      </carousel>
    </div>
  </div>
</div>

<div id="adultclasses" style="margin-top: -40px"></div>
<div style="padding-top: 40px">
  <h1 class="divider">Adult Classes</h1>
  <div class="container">
    <div style="width: 100%; text-align: center; padding-bottom: 64px">
      <h4 class="location-subtitle">Group-based Core and strength-based programs designed to increase your heart rate and help you get the most out of every workout.</h4>
      <h4 class="location-subtitle">Small group training led by certified instructors that are designed to help you build strength, stability and increase your heart rate to get the most out of your workout. Both bootcamp and circuit style strength groups are available depending on your goals. </h4>
      <mat-chip-list></mat-chip-list>
      <a href="locations#beachhouse"><mat-chip class="link-chip">Beach House</mat-chip></a>
      <mat-chip class="link-chip">Contact Us</mat-chip>
    </div>
    <div class="card">
      <carousel cellWidth="100%" height="500"
                [images]="acImages">
      </carousel>
    </div>
  </div>
</div>




