<training-landing-panel></training-landing-panel>
<two-column-panel id="personal" title="Personal Training" [subtitle]="personalSubtitle">
  <img class="column-image" src="assets/images/donaldpu.JPG"/>
</two-column-panel>
<two-column-panel id="group" title="Small Groups" [subtitle]="groupSubtitle" [leftImage]="true" bgColor="black" dark="true">
  <img class="column-image" src="assets/images/smallgroup.jpeg"/>
</two-column-panel>
<two-column-panel id="circuit" title="Circuit Training" [subtitle]="circuitSubtitle">
  <img class="column-image" src="assets/images/mask_lunge.jpg"/>
</two-column-panel>
<two-column-panel id="athlete" title="Athlete Groups" [subtitle]="sportSubtitle" [leftImage]="true" bgColor="black" dark="true">
  <img class="column-image" src="assets/images/sport.jpeg"/>
</two-column-panel>
<mindbody-panel></mindbody-panel>
