<app-title-panel title="Expert Staff" [subtitle]="subtitle" buttonLink="staff" buttonText="Meet the Team">
  <div class="row" style="margin-top: 24px">
    <div class="col-md-4">
      <app-person-card
        name="Bryan Doo"
        subtitle="Bryan's Bio"
        img="">
      </app-person-card>
    </div>
    <div class="col-md-4">
      <app-person-card
        name="Bryan Doo"
        subtitle="Bryan's Bio"
        img="">
      </app-person-card>
    </div>
    <div class="col-md-4">
      <app-person-card
        name="Bryan Doo"
        subtitle="Bryan's Bio"
        img="">
      </app-person-card>
    </div>
  </div>
</app-title-panel>
