<app-title-panel title="Expert Staff">
  <div class="row" style="margin-top: 24px">
    <div class="col-md-4">
      <a href="staff/bryan"><img src="../../../../../assets/images/headshots/bryan.jpg" class="avatar-image rise"/></a>
    </div>
    <div class="col-md-4">
      <img src="../../../../../assets/images/headshots/Laurie.jpg" class="avatar-image rise"/>
    </div>
    <div class="col-md-4">
      <img src="../../../../../assets/images/headshots/zach.JPG" class="avatar-image rise"/>
    </div>
  </div>
  <h4 class="panel-subtitle">{{subtitle}}</h4>
  <div class="button-container">
    <a class="btn btn-outline-dark" href="staff">Meet the Team</a>
  </div>
  <div class="row" style="margin-top: 24px">
    <div class="col-md-3">
      <img src="../../../../../assets/images/headshots/amanda.jpg" class="avatar-image-2 rise"/>
    </div>
    <div class="col-md-3">
      <img src="../../../../../assets/images/headshots/emilie.PNG" class="avatar-image-2 rise"/>
    </div>
    <div class="col-md-3">
      <img src="../../../../../assets/images/headshots/eryenne.JPG" class="avatar-image-2 rise"/>
    </div>
    <div class="col-md-3">
      <img src="../../../../../assets/images/headshots/corinne.JPG" class="avatar-image-2 rise"/>
    </div>
  </div>
</app-title-panel>
