<!--<app-dialog title="Contact Us">-->
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Subject</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject" [value]="subject">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Text Area" [value]="message"></textarea>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
  </form>
<!--</app-dialog>-->
