<div id="newsletter" style="margin-top: -40px"></div>
<div style="padding-top: 40px">
  <h1 class="divider">Newsletter</h1>
  <div class="container" style="padding-bottom: 64px">
<!--    <embed src="./assets/newsletters/summer2021.pdf" width="100%" height="100%" />-->

<!--    <iframe src="./assets/newsletters/summer2021.pdf" style="width: 100%;height: 95vh;border: none;"></iframe>-->
    <h3 class="location-subtitle" style="text-align: center">View the latest <a href="./assets/newsletters/summer2021.pdf">newsletter</a>, and subscribe to our emailed version below!</h3>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffqY1wq7Duq66xgZKPwV2Rjo6qYww65FE_y3NTfswJxlunaQ/viewform?embedded=true" width="100%" height="850" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>
