<app-title-panel title="Training" [subtitle]="subtitle" background="../../../../../assets/images/rondo_rehab.jpg" dark="true">
  <div class="row" style="margin-top: 24px">
    <div class="col-md-3" style="text-align: center">
      <div style="height: 16px"></div>
      <fa-icon [icon]="dumbbell" size="6x"></fa-icon>
      <h4 style="margin-top: 16px">Classic Fitness and Personal Training</h4>
    </div>
    <div class="col-md-3" style="text-align: center">
      <div style="height: 16px"></div>
      <fa-icon [icon]="volleyball" size="6x"></fa-icon>
      <h4 style="margin-top: 16px">Sport-Specific Lifting and Coaching</h4>
    </div>
    <div class="col-md-3" style="text-align: center">
      <div style="height: 16px"></div>
      <fa-icon [icon]="laptop" size="6x"></fa-icon>
      <h4 style="margin-top: 16px">Zoom-based Workouts for Staying In</h4>
    </div>
    <div class="col-md-3" style="text-align: center">
      <div style="height: 16px"></div>
      <fa-icon [icon]="building" size="6x"></fa-icon>
      <h4 style="margin-top: 16px">Corporate Wellness for the Whole Team</h4>
    </div>
  </div>
</app-title-panel>
