<two-column-panel title="Training" background="../../../../../assets/images/rondo_rehab.jpg" dark="true" [subtitle]="subtitle">
    <div class="row" style="margin-top: 24px">
      <div class="col-md-6" style="text-align: center">
        <div style="height: 16px"></div>
        <fa-icon [icon]="dumbbell" size="6x"></fa-icon>
        <h4 style="margin-top: 16px">Personal Training</h4>
      </div>
      <div class="col-md-6" style="text-align: center">
        <div style="height: 16px"></div>
        <fa-icon [icon]="users" size="6x"></fa-icon>
        <h4 style="margin-top: 16px">Small Groups</h4>
      </div>
    </div>
    <div class="row" style="margin-top: 24px">
      <div class="col-md-6" style="text-align: center">
        <div style="height: 16px"></div>
        <fa-icon [icon]="stopwatch" size="6x"></fa-icon>
        <h4 style="margin-top: 16px">Circuit Training</h4>
      </div>
      <div class="col-md-6" style="text-align: center">
        <div style="height: 16px"></div>
        <fa-icon [icon]="volleyball" size="6x"></fa-icon>
        <h4 style="margin-top: 16px">Athlete Groups</h4>
      </div>
    </div>
</two-column-panel>
