.motto-text {
  color: white;
  font-size: 44px;
  max-width: 500px;
  line-height: 140%;
  text-align: center;
  font-weight: 200;
}

.logo-img {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .logo-img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .motto-text {
    color: white;
    font-size: 36px;
    max-width: 500px;
    line-height: 140%;
    text-align: center;
    font-weight: 200;
  }
}
